@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background1{
    background:#B10016;
    width: 50%;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 60% 1fr 1fr 1fr 10%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
}
.background1 h1{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    font-size: 96px;
}
.background2{
    background:#00AF9A;
    width: 50%;
    height: 100vh;
    float: right;
    display: grid;
    grid-template-columns:  30% 50%1fr 1fr 1fr 10%;
    grid-template-rows: 20% 40% 5fr 0.5fr 0.5fr 10%;
}
.background2 h3{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    font-size: 36px;
    font-family: "Poppins";
}
.background2 p{
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 18px;
    text-align: justify;
    align-self: center;
    font-family:sans-serif;
}
.background2 button{
    width: 150px;
    height: 50px;
    grid-row: 5/6;
    grid-column: 2/3;
    margin: 10px 0px;
    border: 1px solid #B10016;
    border-radius: 10px;
    background-color: #B10016;
    font-size: 24px;
    font-family: "Poppins";
    color: white;
    cursor: pointer;;
}

.background{
    overflow: hidden;
    display: flex;
    z-index: -1;
}
.shoe img{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
}
.headline{
    font-size: 96px;
    font-family: "Poppins";
    width: 100%;
}
.nike{
    width: 20%;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    align-items: center;
    grid-column: 2/3;
}
.nav li{
    list-style: none;
    font-size: 24px;
    font-family: "Poppins";
}
li a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:768px){
body{
    overflow:  hidden !important;
}
.background2{
    display: grid;
    grid-template-columns:20% 70% 1fr 1fr 1fr;
    grid-template-rows: 10% 40% 1fr 1fr 1fr;

}
.nike{
        width: 50%;
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center;

}
.nav li{
    list-style: none;
    font-size: 12px;
    font-family: "Poppins";
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    align-items: center;
    grid-column: 2/3;
}
.background h1{
    font-size:29px;
}
.background2 h3{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    font-size: 18px;
    font-family: "Poppins";
    align-self: flex-end;
}
.background2 p{
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 10px;
    text-align: justify;
    align-self: center;
    font-family:sans-serif;
}
.background2 button{
    width: 80px;
    height: 30px;
    grid-row: 5/6;
    grid-column: 2/3;
    margin: 10px 0px;
    border: 1px solid #B10016;
    border-radius: 10px;
    background-color: #B10016;
    font-size: 12px;
    font-family: "Poppins";
    color: white;
}
.shoe img{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    max-height: 50%;

}